@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM FONT IMPORTS */
/* These are also added in the TAILWIND CONFIG FILE */
@font-face {
  font-family: "Radial Regular";
  src: url("../public/fonts/Radial-Regular.woff2");
}

@font-face {
  font-family: "Radial Bold";
  src: url("../public/fonts/Radial-Bold.woff2");
}

@font-face {
  font-family: "Ping Arabic";
  src: url("../public/fonts/PingArabic-Bold.woff2");
}

/* DEFAULT STYLES */
body {
  font-size: 16px;
  font-family: "Radial Regular";
  color: rgb(41, 41, 41);
}
